html {
    font-family: 'roboto', 'lucida grande', 'lucida sans unicode', 'lucida sans', geneva, verdana, sans-serif;
    line-height: 1.6rem; 
    font-style: italic;
    box-sizing: border-box;
    font-size: medium;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(/img/a-black-background-with-a-few-stars-in-the-sky-video.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.fade-text {
    animation: fadeInText 3s ease-in;
}

@keyframes fadeInText {
    from {opacity: 0;}
    to {opacity: 1;}
    from {transform: translateY(-20px);}
    to {transform: translateY(0);}
}

.fade-img {
    animation: fadeInImg 3s ease-in;
}

@keyframes fadeInImg {
    from {opacity: 0;}
    to {opacity: 1;}
    from {transform: scale(0.8);}
    to {transform: scale(1);}
}

h2{
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
    margin-top: 2rem;
    text-align: center;
}   

h2 + p {
    max-width: 800px;
    margin: 0 auto 2rem auto;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-style: normal;
    text-align: center;
}

.parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
margin: 0 auto;
max-width: 1000px;
padding: 20px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}

.div5 {
    grid-area: 3 / 1 / 4 / 2;
}   

.div6 {
    grid-area: 3 / 2 / 4 / 3;
}

footer p {
    margin-top: 3rem;
    font-size: .75rem;
    color: rgb(200, 200, 200);
}   

img {
        max-width: 100%;
        height: auto;
        margin-top: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
}  

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: large;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
}

nav {
    background-image: linear-gradient(rgba(2, 46, 127, 0.8), rgba(0, 0, 0, 0));
    color: white;
    padding: 10px;
}   


footer {
    font-size: 0.875rem;
    color: gray;
    line-height: 1.1;
    text-align: center;
    padding: 1rem 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(2, 46, 127, 0.8));
}
footer p {
    margin: 0;
}

footer a {
    color: gray;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* End of CSS file */
