html {
    font-family: 'roboto', 'lucida grande', 'lucida sans unicode', 'lucida sans', geneva, verdana, sans-serif;
    line-height: 1.6rem; 
    font-style: italic;
    box-sizing: border-box;
    font-size: medium;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(/img/a-black-background-with-a-few-stars-in-the-sky-video.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.fade-text {
    animation: fadeInText 3s ease-in;
}

@keyframes fadeInText {
    from {opacity: 0;}
    to {opacity: 1;}
    from {transform: translateY(-20px);}
    to {transform: translateY(0);}
}

.fade-img {
    animation: fadeInImg 3s ease-in;
}

@keyframes fadeInImg {
    from {opacity: 0;}
    to {opacity: 1;}
    from {transform: scale(0.8);}
    to {transform: scale(1);}
}



h2{
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
    margin-top: 2rem;
    text-align: center;
}

h2 + p {
    max-width: 800px;
    margin: 0 auto 2rem auto;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
}

 img {
    max-width: 100%;
    height: auto;
    margin-top: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: large;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
}

nav {
    background-image: linear-gradient(rgba(2, 46, 127, 0.8), rgba(0, 0, 0, 0));
    color: white;
    padding: 10px;
}   

footer {
    margin-top: 3rem;
    font-size: .75rem;
    color: rgb(200, 200, 200);
    text-align: center;
    padding: 1rem 0;
    line-height: 1.25rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(2, 46, 127, 0.8));
}

footer p {
    margin: 0;
}
