html {
    box-sizing: border-box;
    font-family: 'arial', 'helvetica neue', helvetica, sans-serif;
    font-size: 1.25rem;
    text-align: center;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    background-color: rgb(38, 38, 38);
    background-image : url(/img/a-black-background-with-a-few-stars-in-the-sky-video.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    margin: 0;
    padding: 2rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: normal;
    font-style: normal;
}


#wrapper {
    width: 60%;
    background-image: linear-gradient(rgba(2, 46, 127, 0.8), rgba(0, 0, 0, 0));
    color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 2rem;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


nav {
    text-align: center;
    margin-bottom: 3.5rem;
}


nav li {
    display: inline;
    list-style: none;
    margin-right: 1rem;
}


nav a {
   padding: 12px 16px;
   background-color: rgb(183, 200, 232);
   border-radius: 8px;
   margin-right: 8px;
    color: rgb(2, 46, 127);
    text-decoration: none;
    font-family: 'roboto', 'arial', 'helvetica neue', helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
}

nav a:hover {
    background-color: rgb(255, 104, 104);
    color: white;
    cursor: pointer;
}

form {
    margin-top: 2rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    margin-right: 8px;
}


label,
span {
    display:inline-block;
    width: 250px;
    margin-right: 20px;
    text-align: right;
    vertical-align: top;
}


.radio-label {
    width: 15px;
    margin-right: 10px;
    text-align: left;
    vertical-align: middle;
    margin-top: 22px;
}


span {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: auto;
}


input[type=text],
input[type=email],
input[type=tel],
input[type=date],
input[type=number],
input[type=checkbox],
input[type=password],
input[type=address] {
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    width: 250px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'arial', 'helvetica neue', helvetica, sans-serif;
}


textarea {
    border-radius: 8px;;
    padding: 10px;
    margin: 8px 8px 8px 0;
    border: none;
}


input[type=checkbox],
input[type=radio] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}


select {
    height: 20px;
    border-radius: 8px;
    padding: 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'arial', 'helvetica neue', helvetica, sans-serif;
    width: 270px;
}


button {
    background-color: rgb(255, 255, 255);
    color: rgb(2, 46, 127);
    padding: .5rem;
    width: 5rem;
    border: none;
    margin-bottom: 1rem;
    margin-left: 80%;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: bold;
}


button[type=submit] {
    margin-top: 2rem;
}

button:hover {
    background-color: rgb(255, 104, 104);
    color: white;
    cursor: pointer;
}

footer {
    margin-top: 3rem;
    font-size: .75rem;
    color: rgb(200, 200, 200);
}

footer p {
    margin: 0;
}